h1.titulo{
    font-size: 100px;
    text-align: center;
    color: black;
}

div.resumen{
    width: 65%;
    margin: 20px auto;
    background-color: lightcoral;
    color: black;
    padding: 15px;
    float: left;
    box-shadow: white;
    text-align: justify;
}

div.resumen img.izquierda{
    float: left;
    margin-right: 15px;
    height: 180px;
    width: 150px;
}

section article.personajes{
    border-width: 2px;
    border-style:solid ;
    float: left;
    vertical-align: top;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    margin: 50px 0px 20px 10%;
    width: 35%;
    font-size: 1.2em;
    border: 1px solid black;
    padding-bottom: 20px;
    text-align: justify;
    padding: 5px;
    box-shadow: 0px 0px 10px red;
}

section article.personajes figure{
    float: left;
    margin-top: -50px;
    margin-left: -30px;
}

section article.personajes figure img{
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    width: 180px;
    height: 140px;
}

section article.personajes span.tipo{
    position: absolute;
    border-width: 2px;
    border-style: solid;
    top: -38px;
    right: -2px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    border-radius: 15px 15px 0px 0px;
    font-weight: bolder;
}






















